body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

.sidebar {
	display: grid;
	grid-template-rows: 100px 150px 150px;
	height: 100vh;
	width: 250px;
	float: left;
	color: white;
	background-color: #1992d4;

	/* border: 1px solid red; */
}

.sidebar > h1 {
	display: grid;
	grid-template-columns: 20px 20px;
}

.sidebar-links > a {
	display: grid;
	grid-template-columns: 20px 100px;
	gap: 20px;
	font-size: 22px;
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

.sidebar-links > a > img {
	height: 30px;
	width: 30px;
}

.sidebar-links > a {
	display: flex;
	align-items: center;
}

.sidebar > * {
	display: grid;
	grid-template-rows: 35px 35px 35px 35px 35px 35px;
	gap: 20px;
}

.sidebar > h1 {
	padding-left: 2rem;
}

.settings-link {
	padding-top: 60px;
}

nav {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
}

header {
	display: grid;
	grid-template-rows: 80px 100px;
	height: 200px;

	border: 1px solid red;
}

.header-top {
	display: grid;
	grid-template-columns: 500px 600px;
	padding: 20px;
	align-items: center;
}

.header-top-left-grid {
	display: grid;
	grid-template-columns: 50px 400px;
	grid-template-rows: 20px;
	align-items: center;
	margin-left: 100px;
}

.header-top-right-grid {
	display: grid;
	grid-template-columns: 50px 70px 200px;
	margin-left: 400px;
	align-items: center;
}

.users-name {
	width: 130px;
}

.search {
	height: 35px;
	border: none;
	border-radius: 20px;
	background-color: #e2e8f0;
}

.batman-header-top {
	width: 50px;
	height: 50px;
}

.header-bottom {
	display: grid;
	grid-template-columns: 900px 500px;
	grid-template-rows: 100px;
	align-items: center;
	margin-top: 10px;
	margin-left: 50px;
}

.batman-header-bottom {
	width: 90;
	height: 90px;
}

.user-greeting {
	display: grid;
	grid-template-columns: 100px 200px;
	grid-template-rows: 50px 50px;
}

.user-greeting-text {
	display: grid;
	grid-template-rows: 20px 20px;
}

#hi-there {
	font-weight: bold;
}

#user-greeting-name {
	font-weight: bold;
	font-size: 25px;
	width: 300px;
}

.header-buttons {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 50px;
	gap: 20px;
}

.header-buttons > button {
	border: none;
	border-radius: 30px;
	color: white;
	background-color: #1992d4;
}

.main-content {
	display: grid;
	grid-template-columns: 900px 300px;
	grid-template-rows: 1050px;
	gap: 32px;

	border: 1px solid red;
}

.projects-div {
	display: grid;
	grid-template-columns: 400px 400px;
	gap: 30px;

	border: 1px solid red;
}

.projects-div > h2 >img {
	width: 25px;
	height: 25px;
}

.projects-div > * {
	border: 1px solid red;
}

.announcements-and-trending {
	display: grid;
	grid-template-columns: 350px;
	grid-template-rows: 350px;
}

.announcements-div {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 80px 80px 80px;

	border: 1px solid red;
}

.announcements-div > * {
	border: 1px solid red;
}

.trending-div {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 100px 100px 100px 100px;

	border: 1px solid red;
}

.trending-div > div > img {
	width: 60px;
	height: 60px;
}

.trending-div > * {
	border: 1px solid red;
}