* {
    /* border: 1px solid red; */
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

html, body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Left sidebar */

.sidenav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 20vw;
    background-color: #1992d4;
    color: white;
}

.sidenav > h1 {
    text-align: center;
}

.sidenav div {
    display: flex;
    align-items: center;
}

.sidenav p {
    margin-left: 10px;
    font-size: large;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.sidenav-items > .settings {
    margin-top: 60px;
}

.container {
    width: 80vw;
    margin-left: 273px;
}

.user-icon {
    width: 36px;
    height: 36px;
}

.header {
    box-shadow: 0 2px 10px -1px gray;
}

.topnav {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.search-icon {
    margin-left: 50px;
}

.topnav > input {
    width: 500px;
    height: 30px;
    margin-left: 20px;
    border-radius: 30px;
    border: none;
    background-color: #e2e8f0;
    padding-left: 10px;
    padding-right: 10px;
}

.ring-icon {
    margin-left: 200px;
}

.user-icon {
    margin-left: 20px; 
}

.topnav > p {
    margin-left: 20px;
}

.topnav-bottom  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-div {
    display: flex;
    align-items: center;
}

.topnav-bottom > div {
    display: flex;
    flex-direction: row;
}

.greetings-div p {
    margin-left: 30px;
}

.greeting {
    font-size: smaller;
    margin-bottom: -10px;
}

.topnav-bottom img {
    width: 52px;
    height: 52px;
    margin-left: 50px;
}

.buttons-div {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.buttons-div button {
    margin: 10px;
    height: 35px;
    width: 80px;
    background-color: #1992d4;
    color: white;
    border-radius: 30px;
    border: none;
}

.clickable:hover {
    cursor: pointer;
}

.project-announcements-headers {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    margin-bottom: -20px;
}

.project-announcements-headers > p {
    font-weight: bold;
}

.projects {
    margin-left: 40px;
}

.announcements {
    margin-left: 545px;
}

.item-container {
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: 100px 100px 100px;
    height: 100vh;
}

.project-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 20px;
    margin-left: 40px;
    padding-top: 20px;
}

.project-container > div {
    border-left: 7px solid #f0b429;
    border-radius: 5px;
    box-shadow: 0 2px 5px -1px gray;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
}

.project-headers {
    font-weight: 500;
}

.project-content {
    font-size: 0.8rem;
    color: grey;
}

.announcements-trending-container {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 300px 50px 300px;
    grid-gap: 20px;
    margin-left: 90px;
    padding-top: 20px;
}

.announcements-trending-container > div {
    box-shadow: 0 2px 5px -1px gray;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.announcements-header {
    font-size: 0.8rem;
    font-weight: bold;
}

.announcement-content {
    font-size: 0.7rem;
    color: gray;
    margin-top: -12px;
}

.announcements1 {
    border-bottom: 1px solid grey;
}

.announcements2 {
    border-bottom: 1px solid gray;
}

.trendings {
    font-weight: bold;
}

.trendings-container {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trendings-container img {
    width: 40px;
    height: 40px;
}

.trendings-container > .item1,
.trendings-container > .item2,
.trendings-container > .item3,
.trendings-container > .item4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trendings-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-header {
    margin-bottom: -13px;
    font-size: 0.8rem;
    font-weight: bold;
}

.user-content {
    font-size: 0.8rem;
    color: gray;
}