body {
	margin: 0;
	padding: 0;
}

.sidebar {
	display: grid;
	grid-template-rows: 100px 150px 150px;
	height: 100vh;
	width: 250px;
	float: left;
	color: white;
	background-color: #1992d4;

	/* border: 1px solid red; */
}

.sidebar-links > a {
	display: grid;
	grid-template-columns: 20px 100px;
	gap: 20px;
	font-size: 25px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.sidebar-links > a > img {
	height: 30px;
	width: 30px;
}

.sidebar > * {
	display: grid;
	grid-template-rows: 20px 20px 20px 20px 20px 60px;
	gap: 20px;
}

.sidebar > h1 {
	padding-left: 2rem;
}

nav {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
}

header {
	display: grid;
	height: 200px;

	border: 1px solid red;
}

.header-top {
	display: grid;
	grid-template-columns: 10px 500px 10px 10px 10px 150px;
  grid-template-rows: 20px;
	gap: 100px;
}

.header-bottom {
	display: grid;
	grid-template-columns: 900px 500px;
	grid-template-rows: 70px;
}

.user-greeting {
	display: grid;
	grid-template-columns: 50px 200px;
	grid-template-rows: 50px 50px;
}

.header-buttons {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 50px;
}

.header-bottom > * {
	border: 1px solid red;
}

/* header > * {
	border: 1px solid red;
} */

.main-content {
	display: grid;
	grid-template-columns: 900px 300px;
	grid-template-rows: 1050px;
	gap: 32px;


	border: 1px solid red;
}

.projects-div {
	display: grid;
	grid-template-columns: 400px 400px;
	gap: 30px;

	border: 1px solid red;
}

.projects-div > * {
	border: 1px solid red;
}

.announcements-and-trending {
	display: grid;
	grid-template-columns: 350px;
	grid-template-rows: 350px;
}

.announcements-div {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 80px 80px 80px;

	border: 1px solid red;
}

.announcements-div > * {
	border: 1px solid red;
}

.trending-div {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 100px 100px 100px 100px;

	border: 1px solid red;
}

.trending-div > * {
	border: 1px solid red;
}